/*****************************************/
/* 基本テーマ                            */
/*****************************************/
:root {
    --content-width: 1024px;
    --decoration-color: #323434;
    --theme-color: #0083a8;
    --theme-color2: #f6f3ef;    
    --section-bg-color: #ffffff;
    --page-link-width: 250px;
    --header-height: 60px;
    --header-height-sp: 45px;
    --header-height-minus: -60px;
    --header-height-sp-minus: -45px;
}

.page {
  scroll-margin-top: var(--header-height);
}


.dark-mode {
    --section-bg-color: #484848;
    --decoration-color: #ffffff;
}

.container {
    max-width: 100%;
    padding: 0;
}

.titleSection {
    display: none;
}

.page-_top .contents {
    padding-top: 0 !important;
}

.page-_top .coverImage,
.page-_top #section-first {
    height: 60vh;
    max-height: 500px;
    box-sizing: border-box;
    color: #333;
}

@media (max-width: 640px) {
    .page-_top .coverImage,
    .page-_top #section-first {
        height: 100vh;
    }
}

.page-_top .coverImage {
    position: absolute;
}

.page-_top .titleSection {
    display: none;
}

.page-_top #section-first {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
}

.page-_top #section-first h1 {
    font-size: 2em;
}

.page-_top #section-first .separatedSection__contentsWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__contentsWrapper,
.separatedSection,
.contentsFooterSection {
    padding: 3rem 0;
}

.contentsFooterSection {
    padding: 1rem 0;
}

.shareBtns {
    margin-top: 0;
}

.footer,
.separatedSection:nth-child(even) {
    background-color: var(--section-bg-color);
}

.separatedSection:nth-child(even) .notion-table,
.separatedSection:nth-child(even) .notion-board {
    --bg-color: var(--section-bg-color);
}

.titleSection__contentsWrapper,
.footer__contentsWrapper,
.separatedSection__contentsWrapper,
.contentsFooterSection__contentsWrapper {
    margin: auto;
    padding: 0 1rem;
    max-width: var(--content-width);
}

.footer {
    padding: 2em 0;
    margin-top: 0;
}

.footer .notion-asset-wrapper-image {
    width: 200px !important;
    min-width: 200px;
}

.notion-table {
    background-color: inherit;
    background-image: inherit;
}

.notion-page-link:not(.notion-list-item) {
    display: block;
    font-size: 16px;
    margin: 1em auto 0;
    max-width: var(--page-link-width);
    box-sizing: border-box;
    height: auto;
    text-align: center;
    padding: 1em;
    border-radius: 100px;
    background-color: var(--theme-color);
    opacity: 1;
}

.notion-page-link + .notion-page-link {
    padding-top: 1em;
}

.notion-page-link:not(.notion-list-item):hover {
    background-color: var(--theme-color);
    opacity: 0.8;
}

.notion-page-link:not(.notion-list-item) .notion-page-icon-default,
.notion-page-link:not(.notion-list-item) .notion-page-title-addicon {
    display: none;
}

.notion-page-link:not(.notion-list-item) .notion-page-title-text {
    color: #fff;
    font-weight: bold;
    border-bottom: none;
    white-space: pre-wrap;
}

.notion-h2 {
    font-size: 2em;
    text-align: center;
    padding: 0.5em 0;
    margin: 0 0 1em;
    position: relative;
    background-color:var(--theme-color2);
}

.notion-h2::before,
.notion-h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    height: 5px;
}
.notion-h2 .notion-blue {
    display: block;
    font-size: 0.7em;
    color: var(--theme-color);
}

.notion-h3 {
    font-size: 1.4em;
    border-bottom: 2px solid var(--decoration-color);
    padding: 0.5em;
    margin: 0 0 1em;
}

.notion-simple-table {
    font-size: 1.0em;
}

.notion-simple-table-table {
    width: 100%;
}

.notion-simple-table[data-columnheader="true"]
.notion-simple-table-row:first-child
td {
    font-weight: bold;
    background-color: var(--theme-color2);
}

.notion-simple-table[data-rowheader="true"]
.notion-simple-table-column:first-child {
    font-weight: bold;
    background-color: unset;

}

.notion-simple-table-table,
.notion-simple-table-column {
    border-right: none;
    border-left: none;
}

.notion-asset-wrapper img {
    border-radius: 8px;
}

summary {
    font-size: 1.2em;
    border-bottom: 2px solid var(--text-color);
}

details > div {
    padding-top: 0.5em;
}


/*****************************************/
/* 追加テーマ                            */
/*****************************************/

/*フォント指定 全般*/
.lang-ja {
    font: 16px 'ZEN角ゴシックN R', 'Koburina Gothic W3 JIS2004', 'YuGothic', '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', sans-serif;
    
    /*font-family: YuGothic, 'Yu Gothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;*/
    font-weight: 500;
    font-feature-settings: "palt";
    line-height: 2.133;
    letter-spacing: .08em;
    *font-size: small;
    *font: x-small;
    color: #111;
    -webkit-font-smoothing: antialiased;

}

/*ヘッダー画像*/
.header__img {
    height: -webkit-fill-available;
}

/*ヘッダータイトル*/
.header__link {
    font-weight:normal;
    color: var(--theme-color);
}
.header__link::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 6px;
    top: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://sheep0363.github.io/KobeRokkoCss/title-logo.png);
}

/*ヘッダメニュー*/
.header__btn:not(:first-child) {
    margin-left: 1em;
    margin-right: 1em;
}
.header__btn:first-child {
    margin-right: 1em;
}

.page-_top #section-first {
    background-color: rgba(255, 255, 255, 0);
}

.page-_top .coverImage, .page-_top #section-first {
    height: 100vh;
    max-height: 100%;
    box-sizing: border-box;
    color: #ffffff;
}
.page-_top #section-first h1 {
    font-size: 3em;
    font-family: 'ZEN角ゴシックN R';
    z-index: 2;
    text-align: center;
}
.page-_top #section-first .notion-text {
    font-family: 'ZEN角ゴシックN R';    
    z-index: 2;
}

/* Kobe-Rokko Labor and Social Security Attorney Office */
#block-cf36061f15fc43ffbbd3cd959c6041ac {
    font-size: 0.9rem;
    text-align: center;
}
/* タイトルキャッチフレーズ*/
#block-cf31681370b74364ae0867ddac0fce71,
#block-4fb46415ff89419286e0ef61a54bd3a3,
#block-198ddfc65a644f769b7c0592cc93f68e,
#block-dd82855a0b6046fea23432afb705d539
{
    text-align: center;
    font-size: 1.2rem;
}
/*概要見出し*/
#block-e731110b92134b5ebff1179d70c086d7{
    display: none;
}
/*概要文章*/
#block-e733d028e523420eae9755a923a4d152,
#block-615adb84d4eb4c53830593cbc0f056f8{
    font-size: 1.2rem;
}
/*経歴名前*/
#block-22445cab3a474fae95684acf022a87d6{
    font-size: 1.3rem;
}

/*ご挨拶*/
#block-e0395abadcf1484ca1929fb9249b20e0 {
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 2.5;
}
.notion-callout {
    padding: 16px 48px 16px 16px;
}

/*テキスト太字*/
.notion b {
    font-weight: bold;
    color: var(--theme-color);
}

.notion-callout {
    overflow: auto;
}

/* お問い合わせリンクのレイアウト */
.header__btn:last-child,
#block-fe2046f99ca94f4b97e121d386cc5a8a
{
    font-family: ForkAwesome, 'ZEN角ゴシックN R', 'Koburina Gothic W3 JIS2004', 'YuGothic', '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', sans-serif;
    background-color: var(--theme-color);
    border-radius: 30px;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 32px;
    width: 150px;
    box-sizing: border-box;
    font-weight: bold;
    opacity: 1;
    margin: 0 auto;    
}
.header__btn:last-child:hover{
    opacity: 0.75;
}
.header__btn:last-child:before{
    content: "\f0e0";
    font-size: 1.2em;
    margin-right: 8px;
}
.notion-link {
    border-bottom: none;  
    opacity: 1.0;
}
.notion-link:hover {
    opacity: 0.7;
}

/* お問い合わせ */
#block-fe2046f99ca94f4b97e121d386cc5a8a{
    background-color: var(--theme-color);
    border-radius: 10px;
    color: #fff;
    height: 110px;
    width: 320px;
    margin: 0 auto;  
    font-size: 1.5rem;  
}
#block-86f39e5d287a460d8bd7707aad300fb2,
#block-3dfb6c0f184a480eba852fd368dc2fd8{
    text-align: center;
}
#block-5b3547a09953442b8211eaa77a8ac2b5{
    text-align: center;    
    font-size: 2.0rem;  
    line-height: 1;
}



/*フッターリンク*/
.footer {
    background-color: var(--theme-color2);
}
.footer .notion-link {
    font-weight: bold;
    border-bottom: none;
    /*color: var(--text-color);*/
}


/*Copyright*/    
#block-3243273281ca4507939f54b3e35cde57{
    font-size: 0.8rem;  
    text-align: right;
}

@media (max-width: 640px) {
    .page {
        scroll-margin-top: var(--header-height-sp);
    }
    /*ヘッダータイトル*/
    .header__link {
        font-size: 1.0em;
        font-weight:normal;
    }
    .header__link::before {
        width: 30px;
        height: 30px;
    }
    .page-_top #section-first .separatedSection__contentsWrapper {
        /*justify-content: normal;*/
    }
    .page-_top .coverImage, .page-_top #section-first {
        height: 95vh;
        max-height: 95%;
        box-sizing: border-box;
        color: #ffffff;
    }
    .notion-simple-table {
        font-size: 0.9em;
    }
    .notion-callout {
        padding: 16px 16px 16px 0px;
        font-size: 0.9rem;  
    }
    /*タイトル文字*/
    .page-_top #section-first h1 {
        font-size: 1.1em;
    }
    /* Kobe-Rokko Labor and Social Security Attorney Office */
    #block-cf36061f15fc43ffbbd3cd959c6041ac {
        font-size: 0.6rem;
    }
    /* タイトルキャッチフレーズ*/
    #block-cf31681370b74364ae0867ddac0fce71 {
        /*padding-top: 10vh;*/
    }
    #block-cf31681370b74364ae0867ddac0fce71,
    #block-4fb46415ff89419286e0ef61a54bd3a3,
    #block-198ddfc65a644f769b7c0592cc93f68e,
    #block-dd82855a0b6046fea23432afb705d539
    {
        font-size: 0.9rem;
    }
    /*概要文章*/
    #block-e733d028e523420eae9755a923a4d152,
    #block-615adb84d4eb4c53830593cbc0f056f8{
        font-size: 1.1rem;
    }
    /*ご挨拶*/
    #block-e0395abadcf1484ca1929fb9249b20e0 {
        line-height: 2.0;
    }
    /*Copyright*/    
    #block-3243273281ca4507939f54b3e35cde57{
        font-size: 0.6rem;  
        text-align: center;
    }

}


