/*****************************************/
/* 基本テーマ                            */
/*****************************************/
:root {
    --content-width: 1024px;
    --decoration-color: #323434;
    --theme-color: #0083a8;
    --theme-color2: #f6f3ef;    
    --section-bg-color: #ffffff;
    --page-link-width: 250px;
}

.dark-mode {
    --section-bg-color: #484848;
    --decoration-color: #ffffff;
}

.container {
    max-width: 100%;
    padding: 0;
}

.titleSection {
    display: none;
}

.page-_top .contents {
    padding-top: 0 !important;
}

.page-_top .coverImage,
.page-_top #section-first {
    height: 60vh;
    max-height: 500px;
    box-sizing: border-box;
    color: #333;
}

@media (max-width: 640px) {
    .page-_top .coverImage,
    .page-_top #section-first {
        height: 100vh;
    }
}

.page-_top .coverImage {
    position: absolute;
}

.page-_top .titleSection {
    display: none;
}

.page-_top #section-first {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
}

.page-_top #section-first h1 {
    font-size: 2em;
}

.page-_top #section-first .separatedSection__contentsWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__contentsWrapper,
.separatedSection,
.contentsFooterSection {
    padding: 3rem 0;
}

.contentsFooterSection {
    padding: 1rem 0;
}

.shareBtns {
    margin-top: 0;
}

.footer,
.separatedSection:nth-child(even) {
    background-color: var(--section-bg-color);
}

.separatedSection:nth-child(even) .notion-table,
.separatedSection:nth-child(even) .notion-board {
    --bg-color: var(--section-bg-color);
}

.titleSection__contentsWrapper,
.footer__contentsWrapper,
.separatedSection__contentsWrapper,
.contentsFooterSection__contentsWrapper {
    margin: auto;
    padding: 0 1rem;
    max-width: var(--content-width);
}

.footer {
    padding: 2em 0;
    margin-top: 0;
}

.footer .notion-asset-wrapper-image {
    width: 200px !important;
    min-width: 200px;
}

.notion-table {
    background-color: inherit;
    background-image: inherit;
}

.notion-page-link:not(.notion-list-item) {
    display: block;
    font-size: 16px;
    margin: 1em auto 0;
    max-width: var(--page-link-width);
    box-sizing: border-box;
    height: auto;
    text-align: center;
    padding: 1em;
    border-radius: 100px;
    background-color: var(--theme-color);
    opacity: 1;
}

.notion-page-link + .notion-page-link {
    padding-top: 1em;
}

.notion-page-link:not(.notion-list-item):hover {
    background-color: var(--theme-color);
    opacity: 0.8;
}

.notion-page-link:not(.notion-list-item) .notion-page-icon-default,
.notion-page-link:not(.notion-list-item) .notion-page-title-addicon {
    display: none;
}

.notion-page-link:not(.notion-list-item) .notion-page-title-text {
    color: #fff;
    font-weight: bold;
    border-bottom: none;
    white-space: pre-wrap;
}

.notion-h2 {
    font-size: 2em;
    text-align: center;
    padding: 0.5em 0;
    margin: 0 0 1em;
    position: relative;
    background-color:var(--theme-color2);
}

.notion-h2::before,
.notion-h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    height: 5px;
}

/*
.notion-h2::before {
    top: 0;
    border-top: solid 2px var(--decoration-color);
    border-bottom: solid 1px var(--decoration-color);
}

.notion-h2::after {
    bottom: 0;
    border-top: solid 1px var(--decoration-color);
    border-bottom: solid 2px var(--decoration-color);
}
*/

.notion-h2 .notion-blue {
    display: block;
    font-size: 0.7em;
    color: var(--theme-color);
}

.notion-h3 {
    font-size: 1.4em;
    border-bottom: 2px solid var(--decoration-color);
    padding: 0.5em;
    margin: 0 0 1em;
}

.notion-simple-table {
    font-size: 1.0em;
}

.notion-simple-table-table {
    width: 100%;
}

.notion-simple-table[data-columnheader="true"]
.notion-simple-table-row:first-child
td {
    font-weight: bold;
    background-color: var(--theme-color2);
}

.notion-simple-table[data-rowheader="true"]
.notion-simple-table-column:first-child {
    font-weight: bold;
    background-color: unset;

}

.notion-simple-table-table,
.notion-simple-table-column {
    border-right: none;
    border-left: none;
}

.notion-asset-wrapper img {
    border-radius: 8px;
}

summary {
    font-size: 1.2em;
    border-bottom: 2px solid var(--text-color);
}

details > div {
    padding-top: 0.5em;
}


/*****************************************/
/* 追加テーマ                            */
/*****************************************/

/*フォント指定 全般*/
.lang-ja {
    /*font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN","Hiragino Sans", Meiryo, sans-serif;*/
    font: 16px 'ZEN角ゴシックN R', 'Koburina Gothic W3 JIS2004', 'YuGothic', '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', sans-serif;
    font-weight: 500;
    font-feature-settings: "palt";
    line-height: 2.133;
    letter-spacing: .08em;
    *font-size: small;
    *font: x-small;
    color: #111;
    -webkit-font-smoothing: antialiased;

}

/*ヘッダー画像*/
.header__img {
    height: -webkit-fill-available;
}
/*ヘッダータイトル*/
.header__link {
    font-weight:normal;
    color: var(--theme-color);
}
/*ヘッダメニュー*/
.header__btn:not(:first-child) {
    margin-left: 1em;
    margin-right: 1em;
}
.header__btn:first-child {
    margin-right: 1em;
}

.page-_top #section-first {
    background-color: rgba(255, 255, 255, 0);
}

.page-_top .coverImage, .page-_top #section-first {
    height: 100vh;
    max-height: 100%;
    box-sizing: border-box;
    color: #ffffff;
}
.page-_top #section-first h1 {
    font-size: 3em;
    font-family: 'ZEN角ゴシックN R';
    z-index: 2;
    text-align: center;
}
.page-_top #section-first .notion-text {
    font-family: 'ZEN角ゴシックN R';    
    z-index: 2;
}

.page-_top #section-first h1:before {
    position: relative;
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 6px;
    top: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F2ef14aca-4542-4b53-a1ad-dd2d0218a44c%2Fcheck-circle_1.svg?table=block&id=c7529cca-e16d-4ac9-9fe9-d1712fdcc34f&cache=v2&userId=37ed4c62-1fa5-4eab-a0cf-dcf09f5fb596&width=23);
}
/* Kobe-Rokko Labor and Social Security Attorney Office */
#block-cf36061f15fc43ffbbd3cd959c6041ac {
    font-size: 0.9rem;
    text-align: center;
}
/* タイトルキャッチフレーズ*/
#block-cf31681370b74364ae0867ddac0fce71,
#block-4fb46415ff89419286e0ef61a54bd3a3
{
    text-align: center;
}

/*ご挨拶*/
#block-e0395abadcf1484ca1929fb9249b20e0 {
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 2.5;
}
.notion-callout {
    padding: 16px 48px 16px 16px;
}

/*テキスト太字*/
.notion b {
    font-weight: bold;
    color: var(--theme-color);
}

.notion-callout {
    overflow: auto;
}

/* お問い合わせリンクのレイアウト */
.header__btn:last-child {
    font-family: ForkAwesome, 'ZEN角ゴシックN R', 'Koburina Gothic W3 JIS2004', 'YuGothic', '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', sans-serif;
    background-color: var(--theme-color);
    border-radius: 30px;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 32px;
    width: 150px;
    box-sizing: border-box;
    font-weight: bold;
    opacity: 1;
    margin: 0 auto;    
}
.header__btn:last-child:hover {
  opacity: 0.75;
}
.header__btn:last-child:before {
  content: "\f0e0";
  font-size: 1.2em;
  margin-right: 8px;
}



/*フッターリンク*/
.footer {
    background-color: var(--theme-color2);
}
.footer .notion-link {
    font-weight: bold;
    border-bottom: none;
    opacity: 1.0;
    /*color: var(--text-color);*/
}
.footer .notion-link:hover {
    opacity: 0.7;
}

/*Copyright*/    
#block-3243273281ca4507939f54b3e35cde57{
    font-size: 0.8rem;  
    text-align: right;
}

@media (max-width: 640px) {
    /*ヘッダータイトル*/
    .header__link {
        font-size: 1.2em;
        font-weight:normal;
    }
    .notion-simple-table {
        font-size: 0.9em;
    }
    .notion-callout {
        padding: 16px 16px 16px 0px;
    }
    /*タイトル文字*/
    .page-_top #section-first h1 {
        font-size: 1.1em;
    }  
    /* Kobe-Rokko Labor and Social Security Attorney Office */
    #block-cf36061f15fc43ffbbd3cd959c6041ac {
        font-size: 0.8rem;
    }
    /* タイトルキャッチフレーズ*/
    #block-cf31681370b74364ae0867ddac0fce71,
    #block-4fb46415ff89419286e0ef61a54bd3a3
    {
        font-size: 0.9rem;
    }
    /*ご挨拶*/
    #block-e0395abadcf1484ca1929fb9249b20e0 {
        line-height: 2.0;
    }

}


